<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :guid %>
    <%= form.text_field :guid, id: :list_guid %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :list_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :list_description %>
  </div>

  <div class="field">
    <%= form.label :list_type_id %>
    <%= form.text_field :list_type_id, id: :list_list_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
