<p id="notice"><%= notice %></p>

<h1>Number List Items</h1>

<table>
  <thead>
    <tr>
      <th>Guid</th>
      <th>List</th>
      <th>Data</th>
      <th>Sort Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @number_list_items.each do |number_list_item| %>
      <tr>
        <td><%= number_list_item.guid %></td>
        <td><%= number_list_item.list %></td>
        <td><%= number_list_item.data %></td>
        <td><%= number_list_item.sort_number %></td>
        <td><%= link_to 'Show', number_list_item %></td>
        <td><%= link_to 'Edit', edit_number_list_item_path(number_list_item) %></td>
        <td><%= link_to 'Destroy', number_list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number List Item', new_number_list_item_path %>
