<p id="notice"><%= notice %></p>

<h1>List Types</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Modified at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_types.each do |list_type| %>
      <tr>
        <td><%= list_type.id %></td>
        <td><%= list_type.name %></td>
        <td><%= list_type.description %></td>
        <td><%= list_type.created_at %></td>
        <td><%= list_type.updated_at %></td>
        <td><%= link_to 'Show', list_type %></td>
        <td><%= link_to 'Edit', edit_list_type_path(list_type) %></td>
        <td><%= link_to 'Destroy', list_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List Type', new_list_type_path %>
